* {
  margin: 0;
  padding: 0;
}

#app {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

h1,
h2,
p,
form {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h1,
h2 {
  text-decoration: underline;
}

button,
input {
  padding: 0.2em;
  width: 10em;
}

input {
  width: 30%;
  border-radius: 2px;
}

p {
  padding: 1em;
  width: 90%;
  border: solid 1px black;
  border-radius: 5px;
  font-size: large;
}
